html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background:url("../img/3E.JPG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #FF8800;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #FF8800;
    }
}
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #FF8800;
    }
}
html {
    scroll-behavior: smooth;
}

#student .card {
    min-width: 30%;

}

#student h4 {
    display: flex;
    justify-content: space-between;
}